
- var $customClass = 'has--carousel'
- var $shelfType = 'all'

!= '#set($productId = $product.Id)\n'
!= '#set($productTitle = $product.HtmlEscapedName)\n'
!= '#set($productLink = $product.Uri)\n'
!= '#set($productListPrice = $product.ListPrice)\n'
!= '#set($productBestPrice = $product.BestPrice)\n'
!= '#set($productInstallmentValue = $product.InstallmentValue)\n'

article(class=`vt-shelf__item ${$customClass} js--shelf-item`, data-product-id='$productId')
    input(type='hidden', class='js--shelf-product-id', value='$productId')/
    input(type='hidden', class='js--shelf-product-departament', value='$product.DepartmentName')/
    input(type='hidden', class='js--shelf-product-category', value='$product.CategoryName')/
    input(type='hidden', class='js--shelf-product-name', value='$product.Name')/

    a(href='$productLink', class='vt-shelf__container', title='$productTitle', data-product-id='$productId')
        div(class='vt-shelf__img-container')
           div(class='vt-shelf__placeloader has--placeloader js--shelf-category',
              data-product-id='$productId',
              data-image-width='480',
              data-image-ratio='0.7142858')
        div(class='vt-shelf__content')
            h2(class='vt-shelf__title') $productTitle

            != '\n#if ($product.IsInStock)\n'
            div(class='vt-shelf__price-container')
                p(class='vt-shelf__price-text')
                    != '\n#if ($product.HasBestPrice)\n'
                    del(class='vt-shelf__old-price') de $productListPrice
                    span(class='vt-shelf__best-price') por $productBestPrice
                    != '\n#else\n'
                    span(class='vt-shelf__best-price') $productBestPrice
                    != '\n#end\n'

                != '\n#if ($product.NumbersOfInstallment > 1)\n'
                div(class='vt-shelf__installments-container')
                    div(class='vt-shelf__installments') ${product.NumbersOfInstallment}x de $productInstallmentValue
                != '\n#end\n'
            != '\n#else\n'
            div(class='vt-shelf__out-of-stock js--out-of-stock')
                p(class='vt-shelf__out-of-stock-text') Produto Esgotado
            != '\n#end\n'
